<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
      <% if (!user) { %>
        <ul class="navbar-nav me-auto" style="float:right;">
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">登入</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">註冊</a>
          </li>
        </ul>
        <% } %>
      <% if (user) { %>
      <ul class="navbar-nav me-auto" style="float:right;">
        <li class="nav-item">
          <a href="./like.html">
            <img src="../src/like.png" alt="喜歡">
          </a>
        </li>
        <li class="nav-item">
          <a href="./shopping-cart.html">
            <img src="../src/shopping-cart.png" alt="購物車">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">登出</a>
        </li>
      </ul>
      <% } %>
    </div>
  </nav>

  <!--
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">System in EJS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <% if (!user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <% } %>
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/signup">Sign Up</a>
                    </li>
                <% } %> <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/post">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/recommendation">Recommendation</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

  -->