<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;margin-top:65px;float: left;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">  Menu</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        所有商品
      </button>
      <div class="collapse px-2" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/classify/type/Overview" class="link-dark rounded" style="text-decoration:none;">Overview</a></li>
          <li><a href="/classify/type/Accessories" class="link-dark rounded" style="text-decoration:none;">Accessories</a></li>
          <li><a href="/classify/type/Blouses" class="link-dark rounded" style="text-decoration:none;">Blouses</a></li>
          <li><a href="/classify/type/Dressed" class="link-dark rounded" style="text-decoration:none;">Dressed</a></li>
          <li><a href="/classify/type/Dresses Ladies" class="link-dark rounded" style="text-decoration:none;">Dresses Ladies</a></li>
          <li><a href="/classify/type/Dresses Skirts girls" class="link-dark rounded" style="text-decoration:none;">Dresses/Skirts girls</a></li>
          <li><a href="/classify/type/Jersey Basic" class="link-dark rounded" style="text-decoration:none;">Jersey Basic</a></li>
          <li><a href="/classify/type/Jersey Fancy" class="link-dark rounded" style="text-decoration:none;">Jersey Fancy</a></li>
          <li><a href="/classify/type/Knitwear" class="link-dark rounded" style="text-decoration:none;">Knitwear</a></li>
          <li><a href="/classify/type/Outdoor" class="link-dark rounded" style="text-decoration:none;">Outdoor</a></li>
          <li><a href="/classify/type/Knitwear" class="link-dark rounded" style="text-decoration:none;">Knitwear</a></li>
          <li><a href="/classify/type/Shirts" class="link-dark rounded" style="text-decoration:none;">Shirts</a></li>
          <li><a href="/classify/type/Shoes" class="link-dark rounded" style="text-decoration:none;">Shoes</a></li>
          <li><a href="/classify/type/Shorts" class="link-dark rounded" style="text-decoration:none;">Shorts</a></li>
          <li><a href="/classify/type/Skirts" class="link-dark rounded" style="text-decoration:none;">Skirts</a></li>
          <li><a href="/classify/type/Socks and Tights" class="link-dark rounded" style="text-decoration:none;">Socks and Tights</a></li>
          <li><a href="/classify/type/Special Offers" class="link-dark rounded" style="text-decoration:none;">Special Offers</a></li>
          <li><a href="/classify/type/Swimwear" class="link-dark rounded" style="text-decoration:none;">Swimwear</a></li>
          <li><a href="/classify/type/Trousers" class="link-dark rounded" style="text-decoration:none;">Trousers</a></li>
          <li><a href="/classify/type/ShUnder-, Nightwearoes" class="link-dark rounded" style="text-decoration:none;">Under-, Nightwear</a></li>
          <li><a href="/classify/type/Woven Jersey Knitted mix Baby" class="link-dark rounded" style="text-decoration:none;">Woven/Jersey/Knitted mix Baby</a></li>
          <li><a href="/classify/type/Unknown" class="link-dark rounded" style="text-decoration:none;">Unknown</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        衣服分類
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">Baby/Children</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">Divided</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">Ladieswear</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">Menswear</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">Sport</a></li>
        </ul>
      </div>
    </li>
    
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#test5-collapse" aria-expanded="false">
        按顏色分類
      </button>
      <div class="collapse" id="test5-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(245,245,220)" />
            </svg>
            <a href="/classify/color/Beige" class="link-dark rounded" style="text-decoration:none;">Beige</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(255,140,105)" />
            </svg>
            <a href="/classify/color/Pink" class="link-dark rounded" style="text-decoration:none;">Pink</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(255, 77, 0)" />
            </svg>
            <a href="/classify/color/Red" class="link-dark rounded" style="text-decoration:none;">Red</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(255, 165, 0)" />
            </svg>
            <a href="/classify/color/Orange" class="link-dark rounded" style="text-decoration:none;">Orange</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(255, 215, 0)" />
            </svg>
            <a href="/classify/color/Gold" class="link-dark rounded" style="text-decoration:none;">Gold</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(255, 255, 0)" />
            </svg>
            <a href="/classify/color/Yellow" class="link-dark rounded" style="text-decoration:none;">Yellow</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(0, 255, 0)" />
            </svg>
            <a href="/classify/color/Green" class="link-dark rounded" style="text-decoration:none;">Green</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(0, 127, 255)" />
            </svg>
            <a href="/classify/color/Blue" class="link-dark rounded" style="text-decoration:none;">Blue</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(0, 127, 255)" />
            </svg>
            <a href="/classify/color/Turquoise" class="link-dark rounded" style="text-decoration:none;">Turquoise</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(139, 0, 255)" />
            </svg>
            <a href="/classify/color/Purple" class="link-dark rounded" style="text-decoration:none;">Purple</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="white" />
            </svg>
            <a href="/classify/color/White" class="link-dark rounded" style="text-decoration:none;">White</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="black" />
            </svg>
            <a href="/classify/color/Black" class="link-dark rounded" style="text-decoration:none;">Black</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(161,107,71)" />
            </svg>
            <a href="/classify/color/Brown" class="link-dark rounded" style="text-decoration:none;">Brown</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(184, 115, 51)" />
            </svg>
            <a href="/classify/color/Bronze" class="link-dark rounded" style="text-decoration:none;">Bronze/Copper</a>
          </li>
          <li>
            <svg width="20" height="20">
              <circle cx="10" cy="10" r="8" fill="rgb(192,192,192)" />
            </svg>
            <a href="/classify/color/Silver" class="link-dark rounded" style="text-decoration:none;">Silver</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#test6-collapse" aria-expanded="false">
        按類別分類
      </button>
      <div class="collapse" id="test6-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">上身</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">下身</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">鞋子</a></li>
          <li><a href="#" class="link-dark rounded" style="text-decoration:none;">配件</a></li>
        </ul>
      </div>
    </li>
    <% if (user) { %>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          <div>
              <img class="mx-2" src="<%= user.thumbnail %>" alt="user" style="width: 25px;">
              <span style="margin: auto;"><%= user.name %></span>  
          </div>     
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
    <% } %>  
  </ul>
</div>